.upper-label-container {
  font-size: 0.8rem;
  font-weight: 600;
}

.footer-container .text {
  font-weight: 600;
}

.icon--arrow-no-circle::before {
  margin-right: 8px;
  vertical-align: middle;
  font-weight: inherit;
}

a {
  font-size: 0.9rem;
  text-decoration: none;
  vertical-align: middle;
}

.aside-container {
  background-image: url(../img/img3.png);
}
