.upper-label-container__label {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
}

.text-email {
  color: black;
  font-weight: 800;
}

.footer-container .text {
  font-weight: 600;
}

a {
  font-size: 0.9rem;
  text-decoration: none;
  vertical-align: middle;
}

.icon--arrow-no-circle::before {
  margin-right: 8px;
  vertical-align: middle;
  font-weight: inherit;
}

.aside-container {
  background-image: url(../img/img4.png);
}
